body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #EEEEEE;
    background-color: #393E46;
}

header {
    background-color: #222831;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 24px;
}

h1 {
    font-size: 24px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.box {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 300%;
    width: 96vw;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th, .data-table td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
}

.data-table th {
    background-color: #222831;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

nav a, .dropdown button {
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    margin: 0 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

nav a:hover, .dropdown button:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}
